<div class="mx-auto w-full lg:w-1/2">
  <h2 class="text-2xl text-gray-900 mb-2">
    Forecast
  </h2>
  <div class="w-full bg-gray-100 py-8 px-0 sm:px-4 border border-gray-200 rounded shadow-sm">
    <div id="forecast-weather">
      <%= render @forecast if @forecast %>
    </div>
    <div class="py-2 px-4">
      <%= render "form", forecast: Forecast.new %>
    </div>
  </div>
</div>